DISCORD_TOKEN=MTQ5MjEzOTk1NjMxODI0NDk5NA.Gj0-p7.c7TNM_Gh7N8olMZaUg6CzQMnjEWaSHPWVqdD_I
DEV_GUILD_ID=
LOG_CHANNEL_ID=
REPORT_CHANNEL_ID=
HELP_CHANNEL_ID=
HELP_AVAILABLE_ROLE_NAME=disponivel ajudar
HELP_UNAVAILABLE_ROLE_NAME=nao disponivel ajuda
DATABASE_PATH=data/bot.sqlite3
BOT_LOG_PATH=logs/bot.log
MAX_MESSAGES=10000
EMBED_COLOR=0x2B2D31

# Para Railway com volume montado em /data, troque para:
# DATABASE_PATH=/data/bot.sqlite3
# BOT_LOG_PATH=/data/bot.log
